body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:120px;
  width:200px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:270px;
  top:120px;
  width:200px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:260px;
  width:420px;
  height:120px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:120px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:416px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:170px;
  top:50px;
  width:193px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
