body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:0px;
  width:870px;
  height:420px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:420px;
}
#u1 {
  position:absolute;
  left:2px;
  top:202px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:300px;
  width:200px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:300px;
  width:200px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:480px;
  top:300px;
  width:200px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:700px;
  top:300px;
  width:200px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:110px;
  top:62px;
  width:193px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
