body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:720px;
  height:1280px;
  color:#692C33;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:720px;
  height:122px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:122px;
}
#u3 {
  position:absolute;
  left:2px;
  top:53px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:170px;
  top:70px;
  width:430px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:426px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:398px;
  width:718px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:142px;
  width:720px;
  height:240px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:240px;
}
#u9 {
  position:absolute;
  left:2px;
  top:112px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:141px;
  width:720px;
  height:256px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:256px;
}
#u11 {
  position:absolute;
  left:2px;
  top:120px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:1205px;
  width:720px;
  height:95px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:95px;
}
#u13 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:76px;
  top:1267px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:216px;
  top:1267px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:507px;
  top:1267px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:652px;
  top:1267px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:76px;
  top:1217px;
  width:44px;
  height:44px;
  opacity:0.300000011920929;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:216px;
  top:1217px;
  width:44px;
  height:44px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:506px;
  top:1217px;
  width:44px;
  height:44px;
  opacity:0.300000011920929;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:650px;
  top:1217px;
  width:44px;
  height:44px;
  opacity:0.300000011920929;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:330px;
  top:1175px;
  width:100px;
  height:100px;
  font-size:72px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:350px;
  top:1195px;
  width:60px;
  height:60px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:40px;
  top:670px;
  width:60px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:690px;
  top:460px;
  width:30px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:45px;
  top:450px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:131px;
  top:682px;
  width:113px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:45px;
  top:560px;
  width:50px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:20px;
  top:520px;
  width:720px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:720px;
  height:1px;
}
#u45 {
  position:absolute;
  left:20px;
  top:635px;
  width:720px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:720px;
  height:1px;
}
#u46 {
  position:absolute;
  left:20px;
  top:750px;
  width:720px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:720px;
  height:1px;
}
#u47 {
  position:absolute;
  left:690px;
  top:570px;
  width:30px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:690px;
  top:685px;
  width:30px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:131px;
  top:567px;
  width:85px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:131px;
  top:457px;
  width:113px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:282px;
  top:890px;
  width:195px;
  height:195px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:205px;
}
#u56 {
  position:absolute;
  left:2px;
  top:90px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:272px;
  top:1076px;
  width:217px;
  height:129px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:129px;
}
#u58 {
  position:absolute;
  left:2px;
  top:56px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:580px;
  top:937px;
  width:113px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:580px;
  top:1002px;
  width:113px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:40px;
  top:781px;
  width:60px;
  height:60px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u64 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:131px;
  top:793px;
  width:113px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:20px;
  top:861px;
  width:720px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:720px;
  height:1px;
}
#u68 {
  position:absolute;
  left:690px;
  top:796px;
  width:30px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:760px;
  top:425px;
  width:200px;
  height:446px;
  font-size:72px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:446px;
}
#u71 {
  position:absolute;
  left:2px;
  top:57px;
  width:196px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:760px;
  top:937px;
  width:200px;
  height:99px;
  font-size:28px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:99px;
}
#u73 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
